<!DOCTYPE html>
<html ng-app="XOApp" ng-controller="XOCtrl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>XOApp!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body>
        <h1>XOApp!</h1>
        <div ng-show="supports_html5_storage">
            <div ng-repeat="col in cols" ng-show="supports_html5_storage" class="clearfix">
                <div ng-repeat="row in col" class="cell" ng-click="clickCell($parent.$index, $index);">{{row}}</div>
            </div>
            <p><span ng-show="whoWin">Winner: {{whoWin}}</span></p>
            <p><button ng-click="saveParty();">Save and New</button></p>
            <div ng-show="parties.length">
                <h2>Parties:</h2>
                <ul>
                    <li ng-repeat="party in parties"><a href="" ng-click="changeParty($index);">Party {{$index + 1}}</a></li>
                </ul>
            </div>
        </div>
        <span ng-show="!supports_html5_storage">localStorage not support in this browser. Cookie callback is not implemented. Application will not work!</span>
        <script src="js/vendor/require/require.js" data-main="js/main"></script>
    </body>
</html>